<template>
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-2">
        <div class="thumbnail">
          <img class="img-responsive" v-bind:src="movie.poster">
        </div>
      </div>
      <div class="col-sm-10">
        <h3>{{ movie.title }}</h3>
        <dl class="dl-horizontal">
          <dt>Overview</dt>
          <dd>{{ movie.overview }}</dd>
          <dt>Release Date</dt>
          <dd>{{ movie.releaseDate }}</dd>
          <dt>Vote Average</dt>
          <dd>{{ movie.voteAverage }}</dd>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  /**
   * Property declaring the component's name.
   */
  name: 'Movie',

  /**
   * Property declaring an array of attributes available to the Movie component.
   */
  props: ['movie'],
};
</script>
