<template>
  <div class="row">
    <Movie v-for="movie in movies" v-bind:movie="movie" v-bind:key="movie.id"></Movie>
  </div>
</template>

<script>
import Movie from './Movie';

export default {

  /**
   * Property declaring the component's name.
   */
  name: 'MovieList',

  /**
   * Property declaring components to be made available to the MovieList component.
   */
  components: {
    Movie,
  },

  /**
   * Property declaring an array of attributes available to the MovieList component.
   */
  props: ['movies']
};
</script>
