<template>
  <div class="row">
    <MovieList v-bind:movies="movies" v-bind:key="movies.id"></MovieList>
    <pagination for="movie-list" :per-page="perPage" :records="totalPages"></pagination>
  </div>
</template>

<script>
import { Pagination, PaginationEvent } from 'vue-pagination-2';
import Movie from './Movie';
import MovieList from './MovieList';
import * as Utils from './Utils';

export default {

  /**
   * Property declaring the component's name.
   */
  name: 'NowPlaying',

  /**
   * Property declaring components to be made available to the NowPlaying component.
   */
  components: {
    Movie,
    MovieList,
    Pagination,
  },

  /**
   * Method that returns the data object for the NowPlaying instance.
   *
   * @returns {Object} The data object for NowPlaying instnace.
   */
  data() {
    return {
      movies: [],
      movieListPage: 1,
      perPage: 20,
      totalPages: 0,
      totalRecords: 0,
    };
  },

  /**
   * Method that processes options synchronously after the creation of the NowPlaying instance.
   *
   * @returns {void}
   */
  created() {
    this.fetchData();
  },

  methods: {

    /**
     * Method that returns data as an array.
     *
     * @param {Object} data A data endpoint Object.
     * @returns {Array} An array of movies.
     */
    getData(data) {
      this.movies = data.results;

      return this.movies;
    },

    /**
     * Method that an array of movies from an API endpoint.
     *
     * @param {Object} data A data endpoint Object.
     * @returns {void}
     */
    getMovies(data) {
      const imgBasePath = 'https://image.tmdb.org/t/p/w500';
      const movies = data.results;
      let movie;
      let movieData = {};
      let movieDate;

      this.totalPages = data.total_pages;
      this.totalRecords = data.total_records;

      /* eslint-disable no-plusplus */
      for (let i = 0, len = movies.length; i < len; i++) {
        movie = movies[i];
        movieDate = Utils.formatDate(movie.release_date);
        movieData = {
          overview: movie.overview,
          poster: imgBasePath + movie.poster_path,
          releaseDate: movieDate,
          title: movie.title,
          voteAverage: movie.vote_average,
        };
        this.movies.push(movieData);
      }
      /* eslint-enable no-plusplus */
    },

    /**
     * Method that fetches data from an API endpoint using the Fetch API.
     *
     * @returns {void}
     */
    fetchData() {
      const endpoint = new Request(`https://api.themoviedb.org/3/movie/now_playing?language=en-US&api_key=9084eae9f770e006ebcba95dbd474e28&page=${this.movieListPage}`, {
        method: 'GET',
      });

      fetch(endpoint)
        .then(res => Utils.getResponse(res))
        .then(data => this.getMovies(data))
        .then(err => Utils.getError(err));
    },

    /**
     * Method that handles pagination changes.
     *
     * @returns {void}
     */
    changePage() {
      PaginationEvent.$on('vue-pagination::movie-list', (page) => {
        this.movieListPage = page;
        this.movies = [];
        this.fetchData();
      });
    },
  },

  mounted() {
    this.changePage();
  },
};
</script>
