<template>
  <div id="app" class="container">
    <div class="page-header">
      <h1>Now Playing</h1>
    </div>
    <NowPlaying></NowPlaying>
  </div>
</template>

<script>
import NowPlaying from './components/NowPlaying';

export default {

  /**
   * Property declaring the component's name.
   */
  name: 'app',

  /**
   * Property declaring components to be made available to the App component.
   */
  components: {
    NowPlaying,
  },
};
</script>

<style>
#app {
  margin-top: 3.75rem;
}
</style>
